.page {
  min-height: 100vh;
  background-color: #202020;
  font-family: "Inter", "Arial", "sans-serif";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__container {
  width: calc(100% - 140px);
  max-width: 1140px;
}

@media (max-width: 960px) {
  .page__container {
    width: calc(100% - 60px);
  }
}

@media (max-width: 600px) {
  .page__container {
    width: calc(100% - 28px);
  }
}
