.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px);
  max-width: 1140px;
  padding: 18px 0;
}

.header__logo {
  font-size: 0;
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.header__link-container:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__link__login {
  color: #000;
  padding: 8px 20px;
  background: #3DDC84;
  border-radius: 3px;
}

@media (max-width: 960px) {
  .header {
    width: calc(100% - 60px);
  }
}

@media (max-width: 600px) {
  .header {
    width: calc(100% - 28px);
  }

  .header__link {
    font-size: 10px;
  }

  .header__link-container:not(:last-child) {
    margin-right: 14px;
  }
}
